<head>
    <!-- Config -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {# <link rel="manifest" href="/manifest.json"></link> #}
    <title>{{title}} - MailJS</title>

    <!-- SEO -->
    <link href="https://mail.lucacastelnuovo.nl" rel="canonical">
    <meta content="Backend for email submissions powering serverless aplications" name="description">

    {# <!-- Icons --> #}
    {# <link rel="apple-touch-icon" sizes="180x180" href="/xapple-touch-icon.png.pagespeed.ic.MEoTyuU2uk.webp"> #}
    {# <link rel="icon" type="image/png" sizes="32x32" href="/xfavicon-32x32.png.pagespeed.ic.UaA3EiL3Tm.webp"> #}
    {# <link rel="icon" type="image/png" sizes="16x16" href="/xfavicon-16x16.png.pagespeed.ic.G56F8LF0yx.webp"> #}

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
