<div class="col s12 m6 xl3">
    <div class="card hoverable">
        <div class="card-content">
            <span class="card-title">New Template</span>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="col s12">
                    <button class="btn modal-trigger blue accent-4 waves-effect waves-light" style="width: 100%" data-target="template-create">
                        Create
                    </button>
                    <form id="template-create" class="modal modal-fixed-footer template-create">
                        <div class="modal-content">
                            <h4>Create Template</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" name="name" type="text" class="validate character-counter" data-length="64" required>
                                    <label for="name">Template Name*</label>
                                    <span class="helper-text" data-error="Field is required"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="email_to" name="email_to" type="email" class="validate character-counter" data-length="256" required>
                                    <label for="email_to">Email To*</label>
                                    <span class="helper-text" data-error="Field is required">The adres where the form submission is recieved</span>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="email_subject" name="email_subject" type="text" class="validate character-counter" data-length="256" required>
                                    <label for="email_subject">Email Subject*</label>
                                    <span class="helper-text" data-error="Field is required"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="email_fromName" name="email_fromName" type="text" class="validate character-counter" data-length="256">
                                    <label for="email_fromName">Email fromName</label>
                                    <span class="helper-text" data-error="Input too long">The name from the sender</span>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="email_replyTo" name="email_replyTo" type="email" class="validate character-counter" data-length="256">
                                    <label for="email_replyTo">Email replyTo</label>
                                    <span class="helper-text" data-error="Input too long">The adres which is used by the reply button</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="email_cc" name="email_cc" type="email" class="validate character-counter" data-length="256">
                                    <label for="email_cc">Email CC</label>
                                    <span class="helper-text" data-error="Input too long"></span>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="email_bcc" name="email_bcc" type="email" class="validate character-counter" data-length="256">
                                    <label for="email_bcc">Email BCC</label>
                                    <span class="helper-text" data-error="Input too long"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="captcha_key" name="captcha_key" type="text" class="validate character-counter" data-length="40">
                                    <label for="captcha_key">Captcha Secret Key</label>
                                    <span class="helper-text" data-error="Input too long">This optional key can be provided to require valid captcha response</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn blue accent-4 waves-effect waves-light" type="submit">Create</button>
                            <button class="btn blue accent-4 waves-effect waves-light modal-close" type="button">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
