<div id="template-{{ template.id }}-delete" class="modal">
    <div class="modal-content">
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn blue accent-4 waves-effect waves-light" data-action="delete" data-id="{{ template.id }}">Yes</button>
        <button class="modal-close btn blue darken-4 waves-effect waves-light">No</button>
    </div>
</div>
