{% autoescape %}
    <!DOCTYPE html>
    <html>
        {% include 'partials/header.twig' %}

        <body>
            <style>
                {% block style %}{% endblock %}
            </style>

            {% if not navbarDisable %}
                {% include 'partials/navbar.twig' %}
            {% endif %}

            <div class="section">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% include 'partials/footer.twig' with analytics only %}
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    {% block script %}{% endblock %}
                });
            </script>
        </body>

    </html>
{% endautoescape %}
