<!DOCTYPE html>
<html>
    {% include 'partials/header.twig' %}

    <body>
        {% if not navbarDisable %}
            {% include 'partials/navbar.twig' %}
        {% endif %}

        <div class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'partials/footer.twig' with {'domainID' : '0cfb7d34-c3b1-492f-8552-129dab201b09'} only %}
    </body>

</html>
