{% extends "partials/base.twig" %}
{% set title = "MailJS" %}
{% set page_script = "/assets/js/pages/dashboard.js" %}

{% block content %}
    <h2>Templates</h2>
    <div class="row">
        {% include 'dashboard/create_template.twig' %}
        
        {% for template in templates %}
            {% include 'dashboard/base_template.twig' %}
        {% endfor %}
    </div>
{% endblock %}
