{% extends "base.twig" %}
{% set title = "Dashboard" %}

{% block style %}
    {% include 'dashboard/index.css' %}
{% endblock %}

{% block content %}
    <h2>Templates</h2>
    <div class="row">
        {% include 'dashboard/create_template.twig' %}
        
        {% for template in templates %}
            {% include 'dashboard/base_template.twig' %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    {% include 'dashboard/index.js' %}
    {# var editor = ace.edit("editor", {
        theme: "ace/theme/dracula",
        mode: "ace/mode/twig",
        maxLines: 10000,
        minLines: 30,
        wrap: "free",
        tabSize: 4,
        useSoftTabs: true,
        displayIndentGuides: true,
        highlightGutterLine: false,
        showPrintMargin: false,
        selectionStyle: 'text'
    }); #}
{% endblock %}
