{% extends "partials/base.twig" %}
{% set title = "Dashboard" %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/dashboard.css">

    <h2>Templates</h2>
    <div class="row">
        {% include 'dashboard/create_template.twig' %}
        
        {% for template in templates %}
            {% include 'dashboard/base_template.twig' %}
        {% endfor %}
    </div>

    <script src="/assets/js/dashboard.js"></script>
{% endblock %}
